body {
    font-family: 'Ubuntu', sans-serif;
    text-align: justify; 
    background-color: #E9FCEE;
    background-size: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%; 
}

p {
    text-indent: 1em;    
}

.retira-decoracao-link {
    text-decoration: none;
    color: black;
}

.cabecalho-fundo {
    background-color: #BBCDC0;
    padding: 5px;   
}

.cabecalho-meio {
    background-color: #AFC9B6;
    padding: 5px;
}

.corpo-fundo {
    background-color: #A9C7B1;
    padding: 5px;
    
}

.publicacoes-fundo {
    background-color: #B1CCB8;
    padding: 5px;
}


.menu-fundo {
    background-color: #B8D1BE;
    padding: 5px;   
}

.rodape-fundo {
    background-color: #ffffff;
    padding: 7px;
    border-radius: 7px;   
}

.centralizar-img {   
    position: absolute;
    top: 11%;
    left: 70%;
    transform: translate(-50%, -50%);
}


li:hover { 
    background-color: #E9FCEE;
}