* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: justify; 
    background-color: #E9FCEE;
    background-size: 100%;
    position: absolute;
    max-width: 600px;
    height: 100vh;
    gap: 20px;
}

p {
    text-indent: 1em;   
}

.retira-decoracao-link {
    text-decoration: none;
    color: black;
}

.cabecalho-fundo {
    background-color: #BBCDC0;
    margin-bottom: 5px;
    padding: 10px;
      
}

.cabecalho-meio {
    background-color: #AFC9B6;
    padding: 20px;
}

.corpo-fundo {
    background-color: #A9C7B1;
    padding: 20px;
    
}

.publicacoes-fundo {
    background-color: #B1CCB8;
    padding: 20px;
}

.menu-fundo {
    background-color: #B8D1BE;
    padding: 20px;   
}

.rodape-fundo {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;  
}

.centralizar-img {   
    top: 0%;
    float: left;
 }

li:hover { 
    background-color: #E9FCEE;
}